@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Russo+One&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Russo One", sans-serif;
    color: white;
    letter-spacing: 0.1em;
    /* border: 5px dotted pink; */
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 3.5em;
}

a {
    text-decoration: none;
    list-style-type: none;
    background-color: transparent;
}

li {
    list-style-type: none;
}

header {
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    align-items: center;
}

.site-header {
    padding: 30px;
    background: #312a42;
}

.site-header ul {
    display: flex;
    grid-column: 4/9;
    justify-content: space-around;
    align-items: center;
}

/* Hamburger */

.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    cursor: pointer;
    grid-column: 8/9;
    position: relative;
}

.bar {
    background-color: white;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

.menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    top: -0.7em;
    right: -1.5em;
    background-color: var(--secondary);
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    border-radius: 20px;
}

.menu-items li {
    padding: 10px 8px;
    border-bottom: 1px solid #e5e5e5;
    margin: 0;
    font-size: 0.9em;
    white-space: nowrap;
}

@media screen and (max-width: 1200px) {
    .site-header ul {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }
}

/* Main section */

.main-section {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main-info {
}

/* Ваши стили для видео подходят, но я добавлю небольшой корректив */
.myVideo {
    position: absolute;
    z-index: -1;
    width: 100%;
    /* top: -19em; */
}

/* Уберем grid для title, pre-title и link-container, так как они теперь не находятся в grid-container */
.title,
.pre-title,
.link-container {
    text-align: center;
    padding: 1em;
    z-index: 1;
    /* position: relative; */
}

.title {
    font-size: 2.5em;
}

.pre-title {
    font-size: 1.5em;
}

.link-container {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding-top: 2em;
}

/* @media (max-width: 960px) and (min-width: 480px) {
    
    
    .site-header {
        flex-direction: column;
    }

    .site-header .logo {
        margin-bottom: 1em; 
    }

    .site-header nav ul {
        flex-direction: column;
        align-items: center; 
        gap: 0.5em; 
    }
} */

.hover-background {
    transition: background-color 0.2s ease;
}

.hover-background:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(56, 111, 228);
}

/* Section-2 */

.section-2 {
    background-color: #1d1f35;
    padding: 0em 0 8em 0;
    /* height: 100vw; */
}

.sems-intro,
.spek-intro {
    padding-top: 3.5em;
    padding-bottom: 3em;
    width: 50%;
    text-wrap: wrap;
    margin-left: 26.6em;
}

.sems-intro h2,
.spek-intro h2 {
    font-size: 2em;
    padding-bottom: 0.5em;
}

.sems-intro p,
.spek-intro p {
    line-height: 2em;
    font-size: 1.2em;
}

.top-sems,
.top-speks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
    justify-content: center;
    align-items: center;
    max-width: 13%;
    margin: 0 auto;
    text-shadow: 1px 1px 0px #7a7a7a;
}

.sems-title {
    padding: 0.5em 0;
    text-align: center;
    letter-spacing: 0.1em;
}

.sems-pre-title {
    padding: 0.5em 0;
    text-align: center;
    line-height: 1.6em;
    letter-spacing: 0.1em;
}

.item1,
.item2,
.item3,
.spek1,
.spek2,
.spek3 {
    background-color: #312a42;
    /* padding: 3em; */
    border-radius: 1em;
    padding: 2em;
    height: 34em;
}

.item1 img,
.item2 img,
.item3 img,
.spek1 img,
.spek2 img,
.spek3 img {
    width: 16em;
    height: 16em;
    border-radius: 2em;
    padding: 1em;
}

.spek-intro {
    padding-top: 8em;
}

/* Footer */
.grid-footer {
    background-color: rgb(36, 100, 116);
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 0px rgb(46, 67, 112);
    height: 50vh;

    /* padding: 8em 0 8em 0; */
}

.footer-info {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-items: center;
    align-items: center;
    padding: 8em 10em;
    /* overflow: hidden; */
    /* margin: 0 auto; */
}

.column-1 {
    grid-column: 1/4;
}

.column-2 {
    grid-column: 4/6;
}

.column-3 {
    grid-column: 7/9;
}

hr {
    width: 100%;
    height: 0.2em;
    background-color: white;
}

.copy-right-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-items: center;
    align-items: center;
    padding: 2em 30em;
}

.copy-right {
    grid-column: 2/8;
}
