@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Russo+One&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Russo One", sans-serif;
    color: white;
    letter-spacing: 0.1em;
    /* border: 1px solid pink; */
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 3.5em;
}

a {
    text-decoration: none;
    list-style-type: none;
    background-color: transparent;
}

li {
    list-style-type: none;
}

/* --------------HEADER----------------------------- */
.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    align-items: center;
}

.site-header {
    padding: 30px;
    background: #312a42;
}

.site-header ul {
    display: flex;
    grid-column: 4/9;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
}

.site-header li {
    margin-left: 7em;
}

/* Hamburger */

.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    cursor: pointer;
    grid-column: 8/9;
    position: relative;
}

.bar {
    background-color: white;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

.menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    top: -0.7em;
    right: -1.5em;
    background-color: #312a42;
    border: 1px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    border-radius: 20px;
}

.menu-items li {
    padding: 10px 8px;
    border-bottom: 1px solid white;
    margin: 0;
    font-size: 0.9em;
    white-space: nowrap;
}

.menu-items li:last-child {
    border-bottom: none;
}

.hamburger-menu:hover .menu-items {
    display: block;
}

.hover-background {
    transition: background-color 0.2s ease;
}

.hover-background:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(56, 111, 228);
}

@media screen and (max-width: 1600px) {
    .site-header ul {
        display: none;
    }

    .hamburger-menu {
        display: flex;
        z-index: 2;
    }
}
/* --------------HEADER-ENDS---------------------------- */

/* Main */

html,
body {
    height: 90%;
    line-height: 1;
    font-size: 16px;
}

main {
    height: 100%;
    background-color: #543f85;
}

.main-container {
    max-width: 1273px;
    margin: 0em auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3em;
    padding: 5em 0;
}

.map-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
    grid-column: 1/3;
    grid-row: 1/3;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.address {
    display: grid;
    align-content: center;
    grid-column: 3;
    grid-row: 1/3;
}

.address * {
    padding-top: 0.5em;
}

.address h2 {
    font-size: 2.4em;
}

.address :nth-child(5) {
    padding-top: 1.5em;
}

@media screen and (max-width: 830px) {
    .main-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 1em;
        padding: 0;
    }

    .map-container {
        position: relative;
        overflow: hidden;
        padding-bottom: 56.25%;
        grid-column: 1/4;
        grid-row: 1/3;
    }

    .address {
        display: grid;
        align-content: center;
        grid-column: 1/4;
        grid-row: 3/4;
        padding: 1em;
    }

    /* .address h2 {
        padding-top: 1em;
    } */
}

/* --------------FOOTER-START---------------------------- */
footer {
    background-color: rgb(36, 100, 116);
    text-shadow: 2px 2px 0px rgb(46, 67, 112);
    /* height: 50vh; */
}

.flex-container {
    max-width: 1273px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 8em 10em;
}

hr {
    width: 100%;
    height: 0.2em;
    background-color: white;
}

.copy-right-container {
    padding: 2em 21em;
}

@media screen and (max-width: 830px) {
    .flex-container {
        margin: 0 auto;
    }
    .footer-info {
        grid-template-columns: 1fr;
        padding: 0;
        justify-items: normal;
        margin-bottom: 1em;
        padding: 1em;
    }

    .footer-info > * {
        margin-top: 1em;
    }

    .copy-right-container {
        padding: 1em;
    }
}
